<!-- templates/widget.handlebars -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        /* Basic styling */

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* full viewport height */
            margin: 0;
        }

        .container {
            padding: 4px;
            border: 1px solid;
            border-radius: 10px;
            width: 100%;
            max-width: 500px;
        }

        .container h1, .container p {
            text-align: center; /* align text to center */
        }

        input[type="text"], input[type="email"] {
            display: block;
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        button {
            display: block;
            width: 100%;
            padding: 8px;
            background-color: {{backgroundColor}};
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            opacity: 0.9;
        }
    </style>
</head>

<body>
    <div class="container">
        <form action="{{formAction}}" method="post">
            <h1 style="font-size: {{fontSize}}; color: {{fontColor}};">{{title}}</h1>
            <p style="font-size: medium; color: {{fontColor}};">{{subtitle}}</p>
            <input type="text" name="firstName" placeholder="First Name{{#if isFirstNameRequired}} *{{/if}}" {{#if isFirstNameRequired}}required{{/if}}>
            <input type="text" name="lastName" placeholder="Last Name{{#if isLastNameRequired}} *{{/if}}" {{#if isLastNameRequired}}required{{/if}}>
            <input type="email" name="email" placeholder="Email *" required>
            <button type="submit">{{buttonText}}</button>
        </form>
    </div>
</body>

</html>

